In [6]:
import graphlab

# Load the CIFAR 10 Dataset

In [45]:
image_train= graphlab.SFrame('image_train_data/')
image_test=graphlab.SFrame('image_test_data/')

In [38]:
image_train['label'].sketch_summary()

+------------------+-------+----------+
|       item       | value | is exact |
+------------------+-------+----------+
|      Length      |  2005 |   Yes    |
| # Missing Values |   0   |   Yes    |
| # unique values  |   4   |    No    |
+------------------+-------+----------+

Most frequent items:
+-------+------------+-----+-----+------+
| value | automobile | cat | dog | bird |
+-------+------------+-----+-----+------+
| count |    509     | 509 | 509 | 478  |
+-------+------------+-----+-----+------+

In [40]:
dog_image_train=image_train[image_train['label']=='dog']
automobile_image_train=image_train[image_train['label']=='automobile']
cat_image_train=image_train[image_train['label']=='cat']
bird_image_train=image_train[image_train['label']=='bird']

In [8]:
image_train.show()

Canvas is updated and available in a tab in the default browser.

In [9]:
image_train.head()

Columns:
	id	int
	image	Image
	label	str
	deep_features	array
	image_array	array

Rows: 10

Data:
+-----+----------------------+------------+-------------------------------+
|  id |        image         |   label    |         deep_features         |
+-----+----------------------+------------+-------------------------------+
|  24 | Height: 32 Width: 32 |    bird    | [0.242871761322, 1.0954537... |
|  33 | Height: 32 Width: 32 |    cat     | [0.525087952614, 0.0, 0.0,... |
|  36 | Height: 32 Width: 32 |    cat     | [0.566015958786, 0.0, 0.0,... |
|  70 | Height: 32 Width: 32 |    dog     | [1.12979578972, 0.0, 0.0, ... |
|  90 | Height: 32 Width: 32 |    bird    | [1.71786928177, 0.0, 0.0, ... |
|  97 | Height: 32 Width: 32 | automobile | [1.57818555832, 0.0, 0.0, ... |
| 107 | Height: 32 Width: 32 |    dog     | [0.0, 0.0, 0.220677852631,... |
| 121 | Height: 32 Width: 32 |    bird    | [0.0, 0.23753464222, 0.0, ... |
| 136 | Height: 32 Width: 32 | automobile | [0.0, 0.0, 0.0, 0.0, 0.0, ... |
| 138 | Height: 32 Width: 32 |    bird    | [0.658935725689, 0.0, 0.0,... |
+-----+----------------------+------------+-------------------------------+
+-------------------------------+
|          image_array          |
+-------------------------------+
| [73.0, 77.0, 58.0, 71.0, 6... |
| [7.0, 5.0, 8.0, 7.0, 5.0, ... |
| [169.0, 122.0, 65.0, 131.0... |
| [154.0, 179.0, 152.0, 159.... |
| [216.0, 195.0, 180.0, 201.... |
| [33.0, 44.0, 27.0, 29.0, 4... |
| [97.0, 51.0, 31.0, 104.0, ... |
| [93.0, 96.0, 88.0, 102.0, ... |
| [35.0, 59.0, 53.0, 36.0, 5... |
| [205.0, 193.0, 195.0, 200.... |
+-------------------------------+
[10 rows x 5 columns]

# Train a nearest-neighbors model for retrieving images using deep learning

In [10]:
knn_model = graphlab.nearest_neighbors.create(image_train,features=['deep_features'],label='id')

PROGRESS: Starting brute force nearest neighbors model training.

In [43]:
dog_knn_model = graphlab.nearest_neighbors.create(dog_image_train,features=['deep_features'],label='id')
cat_knn_model = graphlab.nearest_neighbors.create(cat_image_train,features=['deep_features'],label='id')
automobile_knn_model = graphlab.nearest_neighbors.create(automobile_image_train,features=['deep_features'],label='id')
bird_knn_model = graphlab.nearest_neighbors.create(bird_image_train,features=['deep_features'],label='id')

PROGRESS: Starting brute force nearest neighbors model training.
PROGRESS: Starting brute force nearest neighbors model training.
PROGRESS: Starting brute force nearest neighbors model training.
PROGRESS: Starting brute force nearest neighbors model training.

In [48]:
image_test[0:1].show()

Canvas is accessible via web browser at the URL: http://localhost:49575/index.html
Opening Canvas in default web browser.

# Use image retrieval model with deep features to find similiar images

In [11]:
cat = image_train[18:19]

In [13]:
cat['image'].show()

Canvas is accessible via web browser at the URL: http://localhost:49575/index.html
Opening Canvas in default web browser.

In [14]:
knn_model.query(cat)

PROGRESS: Starting pairwise querying.
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | Query points | # Pairs | % Complete. | Elapsed Time |
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | 0            | 1       | 0.0498753   | 38ms         |
PROGRESS: | Done         |         | 100         | 367ms        |
PROGRESS: +--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	int
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-----------------+---------------+------+
| query_label | reference_label |    distance   | rank |
+-------------+-----------------+---------------+------+
|      0      |       384       |      0.0      |  1   |
|      0      |       6910      | 36.9403137951 |  2   |
|      0      |      39777      | 38.4634888975 |  3   |
|      0      |      36870      | 39.7559623119 |  4   |
|      0      |      41734      | 39.7866014148 |  5   |
+-------------+-----------------+---------------+------+
[5 rows x 4 columns]

In [49]:
knn_model.query(image_test[0:1])

PROGRESS: Starting pairwise querying.
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | Query points | # Pairs | % Complete. | Elapsed Time |
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | 0            | 1       | 0.0498753   | 24ms         |
PROGRESS: | Done         |         | 100         | 388.4ms      |
PROGRESS: +--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	int
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-----------------+---------------+------+
| query_label | reference_label |    distance   | rank |
+-------------+-----------------+---------------+------+
|      0      |      16289      |  34.623719208 |  1   |
|      0      |      45646      | 36.0068799284 |  2   |
|      0      |      32139      | 36.5200813436 |  3   |
|      0      |      25713      | 36.7548502521 |  4   |
|      0      |       331       | 36.8731228168 |  5   |
+-------------+-----------------+---------------+------+
[5 rows x 4 columns]

# What is the nearest 'dog' labeled image in the training data to the cat image

In [51]:
dog_knn_model.query(image_test[0:1])

PROGRESS: Starting pairwise querying.
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | Query points | # Pairs | % Complete. | Elapsed Time |
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | 0            | 1       | 0.196464    | 25ms         |
PROGRESS: | Done         |         | 100         | 140.6ms      |
PROGRESS: +--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	int
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-----------------+---------------+------+
| query_label | reference_label |    distance   | rank |
+-------------+-----------------+---------------+------+
|      0      |      16976      | 37.4642628784 |  1   |
|      0      |      13387      | 37.5666832169 |  2   |
|      0      |      35867      | 37.6047267079 |  3   |
|      0      |      44603      | 37.7065585153 |  4   |
|      0      |       6094      | 38.5113254907 |  5   |
+-------------+-----------------+---------------+------+
[5 rows x 4 columns]

In [52]:
cat_knn_model.query(image_test[0:1])

PROGRESS: Starting pairwise querying.
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | Query points | # Pairs | % Complete. | Elapsed Time |
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | 0            | 1       | 0.196464    | 24ms         |
PROGRESS: | Done         |         | 100         | 133.2ms      |
PROGRESS: +--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	int
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-----------------+---------------+------+
| query_label | reference_label |    distance   | rank |
+-------------+-----------------+---------------+------+
|      0      |      16289      |  34.623719208 |  1   |
|      0      |      45646      | 36.0068799284 |  2   |
|      0      |      32139      | 36.5200813436 |  3   |
|      0      |      25713      | 36.7548502521 |  4   |
|      0      |       331       | 36.8731228168 |  5   |
+-------------+-----------------+---------------+------+
[5 rows x 4 columns]

In [18]:
def get_images_from_ids(query_result):
    return image_train.filter_by(query_result['reference_label'],'id')

In [19]:
cat_neighbors = get_images_from_ids(knn_model.query(cat))

PROGRESS: Starting pairwise querying.
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | Query points | # Pairs | % Complete. | Elapsed Time |
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | 0            | 1       | 0.0498753   | 26ms         |
PROGRESS: | Done         |         | 100         | 411.8ms      |
PROGRESS: +--------------+---------+-------------+--------------+

In [20]:
cat_neighbors['image'].show()

Canvas is updated and available in a tab in the default browser.

# Quiz Q - Show Image

In [55]:
get_images_from_ids(cat_knn_model.query(image_test[0:1]))['image'].show()

PROGRESS: Starting pairwise querying.
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | Query points | # Pairs | % Complete. | Elapsed Time |
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | 0            | 1       | 0.196464    | 28ms         |
PROGRESS: | Done         |         | 100         | 130ms        |
PROGRESS: +--------------+---------+-------------+--------------+
Canvas is updated and available in a tab in the default browser.

In [56]:
get_images_from_ids(dog_knn_model.query(image_test[0:1]))['image'].show()

PROGRESS: Starting pairwise querying.
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | Query points | # Pairs | % Complete. | Elapsed Time |
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | 0            | 1       | 0.196464    | 22ms         |
PROGRESS: | Done         |         | 100         | 136.4ms      |
PROGRESS: +--------------+---------+-------------+--------------+
Canvas is updated and available in a tab in the default browser.

# Spliting Test data by label

In [57]:
dog_image_test=image_test[image_test['label']=='dog']
automobile_image_test=image_test[image_test['label']=='automobile']
cat_image_test=image_test[image_test['label']=='cat']
bird_image_test=image_test[image_test['label']=='bird']

# Finding nearest neighbors in the training set for each part of the test set

In [64]:
dog_dog_neighbors = dog_knn_model.query(dog_image_test)
dog_cat_neighbors = cat_knn_model.query(dog_image_test)
dog_automobile_neighbors = automobile_knn_model.query(dog_image_test)
dog_bird_neighbors = bird_knn_model.query(dog_image_test)
#get_images_from_ids(dog_cat_neighbors)['image'].show()

PROGRESS: Starting blockwise querying.
PROGRESS: max rows per data block: 7668
PROGRESS: number of reference data blocks: 2
PROGRESS: number of query data blocks: 1
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | Query points | # Pairs | % Complete. | Elapsed Time |
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | 1000         | 254000  | 49.9018     | 624ms        |
PROGRESS: | Done         | 509000  | 100         | 686.4ms      |
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: Starting blockwise querying.
PROGRESS: max rows per data block: 7668
PROGRESS: number of reference data blocks: 2
PROGRESS: number of query data blocks: 1
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | Query points | # Pairs | % Complete. | Elapsed Time |
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | 1000         | 254000  | 49.9018     | 639.6ms      |
PROGRESS: | Done         | 509000  | 100         | 670.8ms      |
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: Starting blockwise querying.
PROGRESS: max rows per data block: 7668
PROGRESS: number of reference data blocks: 2
PROGRESS: number of query data blocks: 1
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | Query points | # Pairs | % Complete. | Elapsed Time |
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | 1000         | 255000  | 50.0982     | 925.4ms      |
PROGRESS: | Done         | 509000  | 100         | 1.00s        |
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: Starting blockwise querying.
PROGRESS: max rows per data block: 7668
PROGRESS: number of reference data blocks: 2
PROGRESS: number of query data blocks: 1
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | Query points | # Pairs | % Complete. | Elapsed Time |
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | 1000         | 239000  | 50          | 702ms        |
PROGRESS: | Done         | 478000  | 100         | 718.6ms      |
PROGRESS: +--------------+---------+-------------+--------------+

In [65]:
combination_SFrame = graphlab.SFrame({'dog-dog':dog_dog_neighbors['distance'],'dog-cat':dog_cat_neighbors['distance'],
                                     'dog-automobile':dog_automobile_neighbors['distance'],
                                      'dog-bird':dog_bird_neighbors['distance']
                                     })

In [66]:
combination_SFrame

Columns:
	dog-automobile	float
	dog-bird	float
	dog-cat	float
	dog-dog	float

Rows: 5000

Data:
+----------------+---------------+---------------+---------------+
| dog-automobile |    dog-bird   |    dog-cat    |    dog-dog    |
+----------------+---------------+---------------+---------------+
| 41.9579761457  | 41.7538647304 | 36.4196077068 | 33.4773590373 |
| 44.1437321415  | 41.8665828436 | 36.5151634774 |  34.415221599 |
|  44.477613787  | 41.9679651276 | 37.0642580438 | 34.8138630061 |
| 45.1042420361  | 42.2266731821 | 37.1217725492 | 34.9289313468 |
|  45.286528164  |  42.330722322 | 38.2837145836 | 37.1546409194 |
| 46.0021331807  | 41.3382958925 | 38.8353268874 | 32.8458495684 |
| 46.3466070395  | 41.8627183618 | 38.9588618578 | 35.6379572518 |
| 46.7436666554  | 42.7126939536 | 39.0535355661 | 37.0042463585 |
| 47.7992911825  | 43.6588676158 | 39.9301919908 | 37.0051632125 |
| 47.9857098244  |  44.445440652 | 40.3811553784 | 37.9279031587 |
+----------------+---------------+---------------+---------------+
[5000 rows x 4 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [94]:
def is_dog_correct(row):
    if((row['dog-dog'] < row['dog-automobile']) and (row['dog-dog'] < row['dog-bird'])
       and (row['dog-dog'] < row['dog-cat'])):
        return 1
    else:
        return 0

In [95]:
combination_SFrame.apply(is_dog_correct).sum()

1203L

In [21]:
car = image_train[8:9]
car['image'].show()

Canvas is updated and available in a tab in the default browser.

In [23]:
get_images_from_ids(knn_model.query(car))['image'].show()

PROGRESS: Starting pairwise querying.
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | Query points | # Pairs | % Complete. | Elapsed Time |
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | 0            | 1       | 0.0498753   | 22ms         |
PROGRESS: | Done         |         | 100         | 369ms        |
PROGRESS: +--------------+---------+-------------+--------------+
Canvas is updated and available in a tab in the default browser.

# Just for fun, let's create a lambda to find and show nearest neighbor images

In [33]:
show_neighbors = lambda i: get_images_from_ids(knn_model.query(image_train[i:i+1]))['image'].show()

In [36]:
show_neighbors(8)

PROGRESS: Starting pairwise querying.
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | Query points | # Pairs | % Complete. | Elapsed Time |
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | 0            | 1       | 0.0498753   | 41.2ms       |
PROGRESS: | Done         |         | 100         | 380.2ms      |
PROGRESS: +--------------+---------+-------------+--------------+
Canvas is accessible via web browser at the URL: http://localhost:49575/index.html
Opening Canvas in default web browser.

In [37]:
show_neighbors(26)

PROGRESS: Starting pairwise querying.
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | Query points | # Pairs | % Complete. | Elapsed Time |
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | 0            | 1       | 0.0498753   | 24ms         |
PROGRESS: | Done         |         | 100         | 426ms        |
PROGRESS: +--------------+---------+-------------+--------------+
Canvas is updated and available in a tab in the default browser.